<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Success</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Authentication Success</h1>
    <p>Congratulations! You have successfully authenticated with Zerodha.</p>

    <script>
        // Redirect to the main page after 3 seconds (3000 milliseconds)
        setTimeout(function() {
            window.location.href = "/trade.html";
        }, 3000);
    </script>
</body>
</html>

